body {
  background-color: lavenderblush;
}

.card-img-top {
  width: 348px !important;
  height: 174px !important;
}

.text-center {
  margin-top: 30px !important;
  margin-bottom: 10px !important;
  margin-right: 0px !important;
  margin-left: 100px !important;
  border-style: solid !important;
  border-width: 3px !important;
  border-color: black !important;
  padding-top: 5px !important;
}

@media only screen and (max-width: 1200px) {
  .card-img-top {
    width: 280px !important;
    height: 174px !important;
  }

  .text-center {
    margin-top: 30px !important;
    margin-bottom: 10px !important;
    margin-right: 0px !important;
    margin-left: 90px !important;
    border-style: solid !important;
    border-width: 3px !important;
    border-color: black !important;
    padding-top: 5px !important;
  }
}

@media only screen and (max-width: 991px) {
  #receipeRoot {
    width: 910px;
  }

  .card-img-top {
    width: 200px !important;
    height: 174px !important;
  }

  .text-center {
    margin-top: 30px !important;
    margin-bottom: 10px !important;
    margin-right: 30px !important;
    margin-left: 30px !important;
    border-style: solid !important;
    border-width: 3px !important;
    border-color: black !important;
    padding-top: 5px !important;
    display: block !important;
  }
}

@media only screen and (max-width: 767px) {
  #receipeRoot {
    width: 767px;
  }

  .card-img-top {
    width: 140px !important;
    height: 174px !important;
  }

  .text-center {
    margin-top: 30px !important;
    margin-bottom: 10px !important;
    margin-right: 40px !important;
    margin-left: 90px !important;
    border-style: solid !important;
    border-width: 3px !important;
    border-color: black !important;
    padding-top: 5px !important;
    display: block !important;
  }
}

@media only screen and (max-width: 572px) {
  #receipeRoot {
    width: 400px;
  }

  .card-img-top {
    width: 225px !important;
    height: 174px !important;
  }

  .text-center {
    margin-top: 30px !important;
    margin-bottom: 10px !important;
    margin-right: 40px !important;
    margin-left: 60px !important;
    border-style: solid !important;
    border-width: 3px !important;
    border-color: black !important;
    padding-top: 5px !important;
    display: block !important;
  }
}
